/* You can add global styles to this file, and also import other style files */
body > app-root > app-users{
  display: flex;
}
body > app-root > app-comments{
  display: flex;
}
body > app-root > app-posts{
  display: flex;
}
